<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Скачивание файла</title>
</head>
<body>
<h4>sdfsdhahsah</h4>
<script>
    // JavaScript для автоматического скачивания файла при загрузке страницы
    {#document.addEventListener('DOMContentLoaded', function () {#}
    {#    // Создаем ссылку#}
    {#    var downloadLink = document.createElement('a');#}
    {#    // Устанавливаем атрибуты ссылки#}
    {#    downloadLink.href = '../report.docx';  // замените на ссылку на файл#}
    {#    downloadLink.download = 'report.docx';  // замените на имя файла#}
    {#    // Создаем и запускаем событие клика на ссылке#}
    {#    var event = new MouseEvent('click');#}
    {#    downloadLink.dispatchEvent(event);#}
    
</script>
</body>
</html>
